{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'update.css' %}">
    <title>Document</title>
</head>
<body>
    <h1> Update Information </h1>
    <form action="" method="post">
        {% csrf_token %} 
        <input type="text" name="Roll_no"  id=""  value="{{std.Roll_no}}" >
        <input type="text" name="Name" id=""  placeholder="Enter Name ">
        <input type="text" name="Email" id=""  placeholder="Enter Email ">
        <select name="Department" required>
            <option value="Science">Science</option>
            <option value="Arts">ARTS</option>
            <option value="Commerce">Commerce</option>
            
        </select>
        <button formaction="/update/{{std.Roll_no}}/">Update</button>
        <button formaction="/">Back</button>

        <h1 id="message">{{message}}</h1>
    </form>
    
   
</body>
</html>